@import './prose.css';
@import './prism.css';
@import './nprogress.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-feature-settings: 'calt', 'liga';
  }

  @font-face {
    font-family: 'ZS Sans';
    src: url('/fonts/Manrope[wght].woff2') format('woff2-variations');
    font-style: normal;
    font-variation-ligatures: normal;
    font-weight: 500 800;
    font-display: swap;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono[wght].woff2') format('woff2-variations');
    font-style: normal;
    font-variation-ligatures: normal;
    font-weight: 400 600;
    font-display: swap;
  }

  /* Take care of global styles overriding Alert component children */
  .Alert {
    @apply dark:text-slate-900;
  }

  .Alert a:not([class]) {
    @apply dark:text-blue-500 dark:from-blue-100 dark:to-blue-100;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-500 opacity-100;
  }
}
