@tailwind base;
@tailwind components;
@tailwind utilities;

@import './prose.css';
@import './prism.css';
@import './nprogress.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'ZS Sans';
    src: url(/fonts/Manrope.ttf) format('truetype-variations');
    font-style: normal;
    font-variation-settings: 'wght' 500;
    font-variation-ligatures: normal;
    font-weight: 500 800;
    unicode-range: 'U+E000, U+E002-E081, U+E093-E097, U+E0A5-E0E7, U+E0F3-E11D, U+E11E-E165, U+EE01, U+F6C3';
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply tracking-tight;
  }

  /* MDX Embed */
  .mdx-embed {
    @apply my-8;
  }

  /* Take care of global styles overriding Alert component children */
  .Alert {
    @apply dark:text-gray-900;
  }

  .Alert a:not([class]) {
    @apply dark:text-blue-500 dark:from-blue-100 dark:to-blue-100;
  }

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .underline {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
}
